{% extends 'base.html' %}
{% load static %}
{% block title %}Manager Profile{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<style>
    .header-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #f4f4f4;
        padding: 20px;
    }

    .header-bar h1 {
        margin: 0;
    }

    .header-bar a {
        text-decoration: none;
        color: #000;
    }

    .header-bar a:hover {
        color: #0000ff;
    }

    
</style>
{% endblock %}

{% block content %}
<div class="container">
    {% include 'components/manager_menu.html' %}
    <div class="content">
        <div class="header-bar">
            <h3>Manager Profile</h3>
            {{profile}}
        </div>
        <div class="content">

        </div>
    </div>
</div>
{% endblock %}