<div class="sidebar">
    <ul>
        <li><a href="">Dashboard</a></li>

        <li>
            <h3 class="menu-header">Profile</h3>
            <ul>
                <li class="menu-item"><a href="" class="active">View Profile</a></li>
                <li class="menu-item"><a href="">Edit Profile</a></li>
            </ul>
        </li>
        <li>
            <h3 class="menu-header">Employee</h3>
            <ul>
                <li class="menu-item"><a href="">Add Employee</a></li>
                <li class="menu-item"><a href="">View Employee</a></li>
            </ul>
        </li>
        <li>
            <h3 class="menu-header">Task</h3>
            <ul>
                <li class="menu-item"><a href="">Add Task</a></li>
                <li class="menu-item"><a href="">View Task</a></li>
            </ul>
        </li>
        <li>
            <h3 class="menu-header">Security</h3>
            <ul>
                <li class="menu-item"><a href="">Change Password</a></li>
                <li class="menu-item"><a href="">Logout</a></li>
            </ul>
        </li>

    </ul>
</div>